/*                       )              (      (              ) (         
  (  (      (      ( /(   (    (     )\ )   )\ )  *   ) ( /( )\ )      
  )\))(   ' )\     )\())( )\   )\   (()/(  (()/(` )  /( )\()|()/( (    
 ((_)()\ |(((_)(  ((_)\ )((_|(((_)(  /(_))  /(_))( )(_)|(_)\ /(_)))\   
 _(())\_)()\ _ )\__ ((_|(_)_ )\ _ )\(_))   (_)) (_(_())_ ((_|_)) ((_)  
 \ \((_)/ (_)_\(_) \ / /| _ )(_)_\(_) _ \  / __||_   _\ \ / / |  | __| 
  \ \/\/ / / _ \  \ V / | _ \ / _ \ |   /  \__ \  | |  \ V /| |__| _|  
   \_/\_/ /_/ \_\  |_|  |___//_/ \_\|_|_\  |___/  |_|   |_| |____|___| 
*/

/* Waybar Config */

* {
	border: none;
	border-radius: 0;
	font-family: CaskaydiaCove NF, monospace;
	font-weight: bold;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
    background: rgba(43, 44, 46, 1);
    border-radius: 999px;
}

tooltip {
	background: #2b2c2e;
	opacity: 1;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

#workspaces {
	border-radius: 10px;
	margin-left: 10px;
	padding-right: 0px;
	padding-left: 5px;
}
	
#workspaces button {
	padding: 5px;
	margin-right: 5px;
}

#workspaces button.active {
    color: #cdd1cb;
}

#workspaces button.focused {
    color: #cdd1cb;
    background: #cdd6f4;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #cdd1cb;
    background: #cdd6f4;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #cdd1cb;
    background: #cdd6f4;
    border-radius: 10px;
}

#tray {
	border-radius: 10px 0px 0px 10px;
	margin-right: 20px;
}

#custom-updates {
	color: #f9e2af;
	border-radius: 10px 0px 0px 10px;
	border-left: 0px;
	border-right: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

#window {
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

#clock {
	color: #fab387;
	border-radius: 10px 0px 0px 10px;
	margin-left: 5px;
	margin-right: 5px;
	border-right: 0px;
	border-left: 0px;
}

#custom-weather {
	color: #a6e3a1;
	border-radius: 0px 10px 10px 0px;
	border-right: 0px;
	border-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#cpu {
	color: #89b4fa;
	border-radius: 10px 0px 0px 10px;
	margin-left: 5px;
	border-right: 0px;
	border-left: 0px;
}

#memory {
	color: #cba6f7;
	border-radius: 10px 0px 0px 10px;
	margin-left: 5px;
	border-right: 0px;
	border-left: 0px;
}

#custom-disk_usage {
	color: #a6e3a1;
	border-radius: 10px 0px 0px 10px;
	border-left: 0px;
	border-right: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

#pulseaudio {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    margin-left:  5px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    margin-left: 5px;
}
