window {
margin: 0px;
border: 1px solid #b6b3af;
background-color: #2b2c2e;
}

#input {
margin: 5px;
border: none;
color: #ced2d3;
background-color: #2b2c2e;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2b2c2e;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2b2c2e;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #839496;
}

#entry:selected {
background-color: #7c7b79;
}
